*{
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    width: 100%;
    /*background-image: url('hhhs.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%; */
    margin-top: 100px;
    
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1% 3%;
    background-color: #FFC700;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar ul li {
    margin-left: 20%;
}

.navbar ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 8px 16px;
    white-space: nowrap;
}

.navbar a:hover{
    background-color: yellow;
}

.logo {
    margin-right: 60%;
}

.logo img {
    height: 60px;
}

.container {
    max-width: 1200px; /* maximum bredd */
    margin: 0 auto;    /* centrera horisontellt */
    padding: 0 15%;   /* Add space on the edges */
}

h1 {
 font-size: 40px;
 text-decoration: underline #FFC700;
 text-underline-offset: 10px;
}

.priserlåda h3{
    text-decoration: underline gray;
}

#kortbild {
    width: 200px;
    height: 200px;
}

.textmedbild {
    display: flex;
}

.priserlåda{
    display: flex;
    gap: 100px;
    border:solid #FFC700;
    border-width: 3px;
    border-radius: 20px;
    width: fit-content;
    padding: 20px;
}

.footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 1px 0;
    font-size: 14px;
    color: #555;
    position: fixed;
    bottom: 0;
    width: 100%;
}
